body{
  background: var(--bgcolor);
}

.banner-card{
  position: relative;
  padding-top: 5rem;
  /* background-color: white; */
  width:100%;
  border: 0;
  overflow: hidden;
 
}

.banner-img{
  height:70vh;
  width:100%; 
  border-radius: 0;
}

.banner-title{
  position:absolute;
  color:white;
  top:50vh;
  left:5vw;
  /* font-size:2rem; */
}
.banner-text{
  position:absolute;
  color:white;
  top:60vh;
  left:5vw;
  margin-right: 5vw;
  /* overflow: hidden; */
}

.movies-list{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}
.movie-card{
  width:20vw;
  margin:1rem;
  color:white;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border: 0;
}

.movie-title{
  position: absolute;
  top:1rem;
  left:1rem;
}

.movie-button{
  position: absolute;
  top:80%
}

.button-wrapper{
  display: flex;
  justify-content: center;
}

.pagination{
  display: flex;
  justify-content: center;
}

.favourites-list{
    padding: 3rem;
  }
  .favourites-table{
    padding: 3rem;
  }

.fa-carot-down, .fa-carot-up{
  cursor: pointer;
}



/* upto */
@media screen and (max-width:400px) { 
  .banner-card{
    height:25vh;
  }

  .banner-img{
    height:30vh;
  }

  .banner-title{
    top:10vh;
    left:5vw;
  }

  .banner-text{
    top:15vh;
    left:5vw;
  }

  .movie-card{
    width: 40vw;
    margin: 0.1rem;
  }
  .movie-button{
    width: 80%;
  }
  .movie-img{
    width: 40vw;
  }

  
  
}

